header{
    background: url('../../src/assets/heroImg.png');
    background-size: cover;
    background-position: center;
    height: 700px;
}

header .wrapper{
    position: relative;
}

.header-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 630px;
    height: 306px;
    padding: 24px 34px 32px 40px;
    top: 354px;
    background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%), #FFFFFF;
}

.header-container p{
    font-family: 'Inter',serif;
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    height: 192px;
    line-height: 100%;
}
