.faqs_container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 846px;
  margin: 0 auto;
}

.title h3 {
  font-family: "Poppins", serif;
  color: #6b3cc9;
  font-weight: 600;
  font-size: 27px;
  text-align: center;
}

.faqs_container .qna {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.questionWithAnswer {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 24px;
  background: #faf8ff;
  border-radius: 7px;
}

.question {
  display: flex;
  /* justify-content: space-between; */
  gap: 40px;
}

.question p {
  font-family: "Inter", serif;
  color: #6b3cc9;
  font-weight: 500;
  font-size: 22px;
  width: 100%;
}

.questionWithAnswer .answer {
  font-family: "Inter", serif;
  color: #6f6c90;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.onlyQustion {
  display: flex;
  /* justify-content: space-between; */
  padding: 24px;
  background: #faf8ff;
  border-radius: 7px;
  gap: 40px;
}

.onlyQustion p {
  font-family: "Inter", serif;
  color: #000;
  font-weight: 500;
  font-size: 22px;
  width: 100%;
}

/* screen size - 768px */
@media (max-width: 768px) {
  .faqs_container {
    max-width: 686px;
  }
}

/* screen size - 375px */
@media (max-width: 376px) {
    .faqs_container {
        max-width: 334px;
        margin: 0 auto;
      }

      .question p, .onlyQustion p{
        font-size: 20px;
      }

      .questionWithAnswer .answer{
        font-size: 16px;
      }

      .question img{
        /* padding: 0; */
        margin-bottom: 10px;
        align-self: stretch;
        /* align-items: center; */
        gap: 10px;
      }
}
